<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @advice.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advice.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @advice.time %>
</p>

<%= link_to 'Edit', edit_advice_path(@advice) %> |
<%= link_to 'Back', advices_path %>
